<a href="https://colab.research.google.com/github/AKanshPatel/Prerequisite/blob/main/Pandas_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas Library**

1.   Pandas Dataframe
2.   Pandas Series
3.   Pandas basic Operations
4.   StringIO

### 1. Pandas Dataframe and Series

In [40]:
import pandas as pd
import numpy as np

In [41]:
#Create a dataframe
df=pd.DataFrame(data=np.arange(0,20).reshape(5,4),index=["Row1","Row2","Row3","Row4","Row5"],columns=["Col1","Col2","Col3","Col4"])

In [42]:
type(df)

pandas.core.frame.DataFrame

In [43]:
df.head(5)

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [44]:
df.describe()

            Col1       Col2       Col3       Col4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

##**Indexing**  
1. Columnsname
2. rowindex[loc]
3. Rowinde Columnindex number[.iloc]

### 1. Columnsname

If we take **Only Single Column** then is it Converted into **Pandas**

In [45]:
df['Col1']

Row1     0
Row2     4
Row3     8
Row4    12
Row5    16
Name: Col1, dtype: int64

In [46]:
df[["Col1","Col2"]]

      Col1  Col2
Row1     0     1
Row2     4     5
Row3     8     9
Row4    12    13
Row5    16    17

### 2.  Row_Index

If we take **Only One Row** then it is converted into Pandas **Series**

In [47]:
df.loc['Row1']

Col1    0
Col2    1
Col3    2
Col4    3
Name: Row1, dtype: int64

In [48]:
df.loc[["Row1","Row2"]]

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7

### 3. Row and Colunm Indexing

In [49]:
df.iloc[2:4,0:2]
#Indexing start from 0

      Col1  Col2
Row3     8     9
Row4    12    13

In [50]:
df.head()

      Col1  Col2  Col3  Col4
Row1     0     1     2     3
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

In [51]:
df.iloc[3:5,2:4]

      Col3  Col4
Row4    14    15
Row5    18    19

In [52]:
df.loc[:,['Col1','Col4']]

      Col1  Col4
Row1     0     3
Row2     4     7
Row3     8    11
Row4    12    15
Row5    16    19

Q Can we cnvert dataframe to array

In [53]:
df.iloc[:,:].values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15],
       [16, 17, 18, 19]])

## 3. Operations

In [54]:
df.isnull().sum()

Col1    0
Col2    0
Col3    0
Col4    0
dtype: int64

In [55]:
df['Col1'].unique()

array([ 0,  4,  8, 12, 16])

In [56]:
#Condition Indexing
df[df['Col1']>2]

      Col1  Col2  Col3  Col4
Row2     4     5     6     7
Row3     8     9    10    11
Row4    12    13    14    15
Row5    16    17    18    19

## 4. StringIO

In [57]:
from io import StringIO

In [58]:
df_car=pd.read_csv('/content/Mercedesbenz.csv')
df_car.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [59]:
#How to read convert string data into pandas data
data=('col1,col2,col3\n'
      'a,b,1\n'
      'x,y,2\n'
      'r,s,12')

In [60]:
#InFile Formate
StringIO(data)

In [61]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    a    b     1
1    x    y     2
2    r    s    12

In [62]:
df_selected_cols=pd.read_csv('/content/Mercedesbenz.csv',usecols=['X0','X1','X2','X3','X4','X5','X6'])
df_selected_cols.sample(5)

      X0 X1  X2 X3 X4  X5 X6
769    f  s  as  g  d  af  i
2280   n  a  ak  f  d   k  g
3091  al  b  ae  c  d   q  h
1946   w  s  as  c  d  ah  g
1870   t  b  as  c  d  ah  j

In [63]:
#Convert the data frame to csv
df_selected_cols.to_csv('Test.csv',index=False)

To **change datatype** we use **dtype** and if we want to define datatype for specific column then we use **dictionaries **

In [64]:
pd.read_csv(StringIO(data),dtype={'col3':'float'})

  col1 col2  col3
0    a    b   1.0
1    x    y   2.0
2    r    s  12.0